# ignore anything begin with dot
.*

# exceptions we need even begin with dot
!.clang-format
!.gitignore
!.github
!.editorconfig

# Object files
*.o
*.a
*.dep

#Build & install directories
build/
install/

# Development friendly files
tags
cscope*
*~
