# SPDX-License-Identifier: BSD-2-Clause

menu "System Reset Support"

config FDT_RESET
	bool "FDT based reset drivers"
	depends on FDT
	default n

if FDT_RESET

config FDT_RESET_ATCWDT200
	bool "Andes WDT FDT reset driver"
	depends on SYS_ATCSMU
	default n

config FDT_RESET_GPIO
	bool "GPIO FDT reset driver"
	depends on FDT_GPIO
	default n

config FDT_RESET_HTIF
	bool "Host transfer interface (HTIF) FDT reset driver"
	select SYS_HTIF
	default n

config FDT_RESET_RPMI
	bool "RPMI FDT reset driver"
	depends on FDT_MAILBOX && RPMI_MAILBOX
	default n

config FDT_RESET_SG2042_HWMON_MCU
	bool "Sophgo SG2042 hwmon MCU FDT reset driver"
	default n

config FDT_RESET_SUNXI_WDT
	bool "Sunxi WDT FDT reset driver"
	default n

config FDT_RESET_SYSCON
	bool "Syscon FDT reset driver"
	depends on FDT_REGMAP
	default n

endif

endmenu
