# SPDX-License-Identifier: BSD-2-Clause

menu "Mailbox Support"

config FDT_MAILBOX
	bool "FDT based mailbox drivers"
	depends on FDT
	select MAILBOX
	default n

config RPMI_MAILBOX
	bool "RPMI based mailbox drivers"
	select MAILBOX
	default n

config MAILBOX
	bool "Mailbox support"
	default n

if FDT_MAILBOX

config FDT_MAILBOX_RPMI_SHMEM
	bool "RPMI Shared Memory Mailbox Controller"
	depends on RPMI_MAILBOX
	default n

endif

endmenu
