# SPDX-License-Identifier: BSD-2-Clause

menuconfig FDT
	bool "Flattened Device Tree (FDT) support"
	select LIBFDT
	default n

if FDT

config FDT_DOMAIN
	bool "FDT domain support"
	default n

config FDT_PMU
	bool "FDT performance monitoring unit (PMU) support"
	default n

config FDT_FIXUPS_PRESERVE_PMU_NODE
	bool "Preserve PMU node in device-tree"
	depends on FDT_PMU
	default n
	help
	  Preserve PMU node properties for debugging purposes.

endif
