# SPDX-License-Identifier: BSD-2-Clause

menu "MPXY Device Support"

config FDT_MPXY
	bool "FDT based MPXY drivers"
	depends on FDT
	default n

config FDT_MPXY_RPMI_MBOX
	bool "MPXY drivers as RPMI mailbox client"
	depends on FDT_MAILBOX && FDT_MPXY
	default n

if FDT_MPXY_RPMI_MBOX

config FDT_MPXY_RPMI_CLOCK
	bool "MPXY driver for RPMI clock service group"
	default n

config FDT_MPXY_RPMI_SYSMSI
	bool "MPXY driver for RPMI system MSI service group"
	default n

config FDT_MPXY_RPMI_VOLTAGE
	bool "MPXY driver for RPMI voltage service group"
	default n

config FDT_MPXY_RPMI_DEVICE_POWER
	bool "MPXY driver for RPMI device power service group"
	default n

config FDT_MPXY_RPMI_PERFORMANCE
	bool "MPXY driver for RPMI performance service group"
	default n

endif

endmenu
