# SPDX-License-Identifier: BSD-2-Clause

menu "MPXY Device Support"

config FDT_MPXY
	bool "FDT based MPXY drivers"
	depends on FDT
	default n

if FDT_MPXY

config FDT_MPXY_RPMI_MBOX
	bool "FDT MPXY mailbox client driver"
	depends on FDT_MAILBOX
	default n

endif

endmenu
